<div class="team">
  <% sum_goal_average_by_match = 0 %>
  <% sum_rating = 0 %>
  <% sum_assist_average_by_match = 0 %>
  <% sum_match = 0 %>
  <% nb_rating = 0 %>
  <% team.order_by_stats.each do |player| %>
    <% sum_goal_average_by_match = sum_goal_average_by_match + player.user.andand.goal_average_by_match.to_f %>
    <% sum_assist_average_by_match = sum_assist_average_by_match + player.user.andand.assist_average_by_match.to_f %>
    <% sum_match = sum_match + player.user.andand.match_with_stats.to_f %>
    <% sum_rating = sum_rating + player.user.andand.rating.to_f %>
    <% (player.user.andand.rating.to_f > 0 ) ? nb_rating += 1 : '' %>
    <div class="player">
      <%= futsal_game.has_stat ? show_game_level(player.goal, player.user.andand.goal_average_by_match.to_f, player.assist, player.user.andand.assist_average_by_match.to_f, (player.andand.player_duration.to_f/60)) : "" %>

      <%= show_player(player.user) %> 

      <%= futsal_game.has_stat ? icon('futbol-o') + ' ' + player.goal.to_s + ' ' + icon('arrow-circle-right') + ' ' + player.assist.to_s + ' ' + icon('sign-in') + ' ' + player.goalkeeper_goal_against.to_i.to_s : "" %> 
      <br>GB : <%= (player.andand.goalkeeper_duration.to_f / 60).round %> min - JO : <%= (player.andand.player_duration.to_f / 60).round %> min - RP : <%= (player.andand.substitute_duration.to_f / 60).round %> min
    </div>
  <% end %>
</div>
<%= "<strong>Total : </strong>" + (sum_goal_average_by_match ? sum_goal_average_by_match.round(2) : '-').to_s + ' ' + icon('futbol-o') + ' ' + 
                                                (sum_assist_average_by_match ? sum_assist_average_by_match.round(2) : '-').to_s).html_safe + ' ' + icon('arrow-circle-right' %> 
                                                <%= team.length > 0 ? (sum_match / team.length).round(2) : 'NaN' %> matchs <br> 
<strong>Note :</strong> <%= nb_rating > 0 ? (sum_rating / nb_rating).round(2).to_s : 'NaN' %> (<%= nb_rating %>)
<strong>Score théorique : </strong> <%= calculate_score(sum_goal_average_by_match, sum_assist_average_by_match).round(2).to_s %>