<h1><%= t('.title') %><span class="badge"><%= @futsal_games.count %></span></h1>

<div class="row">
  <div class="col-2">
    <legend class="filter-title"><%= t :search_title %></legend>
    <fieldset class="filter-panel">
      <%= search_form_for @q do |f| %>

        <%= f.search_field :date_cont, {placeholder: t('activerecord.attributes.futsal_game.date')} %>

        <%= f.search_field :duration_cont, {placeholder: t('activerecord.attributes.futsal_game.duration')} %>

        <%= f.search_field :team_home_id_cont, {placeholder: t('activerecord.attributes.futsal_game.team_home_id')} %>

        <%= f.search_field :team_outside_id_cont, {placeholder: t('activerecord.attributes.futsal_game.team_outside_id')} %>

        <%= f.search_field :score_home_cont, {placeholder: t('activerecord.attributes.futsal_game.score_home')} %>

        <%= f.search_field :score_outside_cont, {placeholder: t('activerecord.attributes.futsal_game.score_outside')} %>

        <%= f.search_field :video_link_cont, {placeholder: t('activerecord.attributes.futsal_game.video_link')} %>

        <%= f.search_field :match_resume_link_cont, {placeholder: t('activerecord.attributes.futsal_game.match_resume_link')} %>

        <br>
        <br>
        <%= f.submit class: 'btn btn-default btn-search-filter' %>
      <% end %>
    </fieldset>
  </div>
  <div class="col-8">
    <div class="col-md-3 btn-new-top">
      <% if can? :create, FutsalGame %>
        <%= link_to (icon('plus')+t('.new_button')).html_safe, url_for(action: :new), class: "btn btn-default" %>
      <% end %>
    </div>
    <table class="table table-hover table-sm table-bordered">
      <thead>
        <tr>
    
          <th><%= sort_link(@q, :date, default_order: :asc) %></th>
    
          <th><%= sort_link(@q, :duration, default_order: :asc) %></th>
    
          <th><%= sort_link(@q, :FutsalField, default_order: :asc) %></th>
    
          <th><%= sort_link(@q, :team_home_id, default_order: :asc) %></th>
    
          <th><%= sort_link(@q, :score_home, default_order: :asc) %> - <%= sort_link(@q, :score_outside, default_order: :asc) %></th>
    
          <th><%= sort_link(@q, :team_outside_id, default_order: :asc) %></th>
    
          <th><%= sort_link(@q, :video_link, default_order: :asc) %> - <%= sort_link(@q, :match_resume_link, default_order: :asc) %></th>
    
          <th class="col-xs-1"></th>
        </tr>
      </thead>

      <tbody>
        <% @futsal_games.each do |futsal_game| %>
          <tr>
    
            <td><%= futsal_game.date.strftime("%d/%m/%Y %H:%M") %></td>
    
            <td><%= Time.at(futsal_game.duration * 60).utc.strftime("%H:%M:%S") %></td>
    
            <td><%= futsal_game.futsal_field.andand.name %></td>
    
            <td><%= futsal_game.team_home %></td>        

            <td><%= futsal_game.score_home %> - <%= futsal_game.score_outside %></td>  
        
            <td><%= futsal_game.team_outside %></td>  

            <td>
              <%= link_to icon('television') + " Voir la video du match", futsal_game.video_link, target: "_blank", class: "btn btn-sm btn-block btn-outline-primary" %>
   
              <%= link_to icon('futbol-o') + " Voir le match sur le site du soccer", futsal_game.match_resume_link, target: "_blank", class: "btn btn-sm btn-block btn-outline-primary" %>
            </td>
    
            <td>
              <%= link_to icon('eye').html_safe, futsal_game %>
              <% if can? :edit, FutsalGame %>
                <%= link_to icon('pencil').html_safe, edit_futsal_game_path(futsal_game) %>
              <% end %>
              <% if can? :destroy, FutsalGame %>
                <%= link_to icon('times').html_safe, futsal_game, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @futsal_games %>
  </div>
</div>