<h1><%= t('.title') %> - <%= @futsal_games.count %></h1>

<div class="row">
  <div class="col-2">
    <legend class="filter-title"><%= t :search_title %></legend>
    <fieldset class="filter-panel">
      <%= search_form_for @q do |f| %>

        <%= f.search_field :date_cont, {placeholder: t('activerecord.attributes.futsal_game.date')} %>

        <%= f.search_field :duration_cont, {placeholder: t('activerecord.attributes.futsal_game.duration')} %>

        <%= t('activerecord.attributes.futsal_game.team_home_id') %>

        <%= f.collection_select :team_home_id_eq, Team.all, :id, :name, include_blank: true %>

        <%= f.search_field :team_outside_id_cont, {placeholder: t('activerecord.attributes.futsal_game.team_outside_id')} %>

        <%= f.search_field :score_home_cont, {placeholder: t('activerecord.attributes.futsal_game.score_home')} %>

        <%= f.search_field :score_outside_cont, {placeholder: t('activerecord.attributes.futsal_game.score_outside')} %>

        <%= f.search_field :video_link_cont, {placeholder: t('activerecord.attributes.futsal_game.video_link')} %>

        <%= f.search_field :match_resume_link_cont, {placeholder: t('activerecord.attributes.futsal_game.match_resume_link')} %>

        <br>
        <br>
        <%= f.submit class: 'btn btn-search-filter btn-sm btn-outline-primary' %>
      <% end %>
    </fieldset>
  </div>
  <div class="col">
    <div class="col-md-3 btn-new-top">
      <% if can? :create, FutsalGame %>
        <%= link_to (icon('plus') + " " + t('.new_button')).html_safe, url_for(action: :new), class: "btn btn-sm btn-block btn-outline-primary" %>
      <% end %>
    </div>
    <table class="table table-hover table-sm table-bordered">
      <thead>
        <tr>
    
          <th><%= sort_link(@q, :date, default_order: :asc) %></th>
    
          <th><%= sort_link(@q, :duration, default_order: :asc) %></th>
    
          <th><%= sort_link(@q, :FutsalField, default_order: :asc) %></th>
    
          <th><%= sort_link(@q, :team_home_id, default_order: :asc) %></th>
    
          <th><%= sort_link(@q, :score_home, default_order: :asc) %> - <%= sort_link(@q, :score_outside, default_order: :asc) %></th>
    
          <th><%= sort_link(@q, :team_outside_id, default_order: :asc) %></th>
    
          <th><%= sort_link(@q, :video_link, default_order: :asc) %> - <%= sort_link(@q, :match_resume_link, default_order: :asc) %></th>

          <th>Erreur ?</th>
    
          <th class="col-xs-1"></th>
        </tr>
      </thead>

      <tbody>
        <% @futsal_games.each do |futsal_game| %>
          <tr>
    
            <td colspan="7"> <%= render 'resume', futsal_game: futsal_game %> </td>
            <td>
              <% nb_buts = futsal_game.score_home.to_i + futsal_game.score_outside.to_i %>
              <% nb_buts_stats = futsal_game.goals.length %>
              <% nb_goals_without_goalkepper = futsal_game.goals.where(goalkeeper_id: nil).length %>
              <% if nb_buts_stats != nb_buts %>
                <%= icon('exclamation-triangle') %> <%= nb_buts %> buts (<%= nb_buts_stats %> dans stats) <br>
              <% end %>
              <% if nb_goals_without_goalkepper > 0 %>
                <%= icon('exclamation-triangle') %> <%= nb_goals_without_goalkepper %> buts sans gardien <br>
              <% end %>
              <% if futsal_game.futsal_game_player_positions.count == 0 %>
                Pas de player position<br>
              <% end %>
              Note : <%= futsal_game.rating %>
            </td>
            <td>
              <%= link_to icon('eye').html_safe, futsal_game %>
              <% if can? :edit, FutsalGame %>
                <%= link_to icon('pencil').html_safe, edit_futsal_game_path(futsal_game) %>
              <% end %>
              <% if can? :destroy, FutsalGame %>
                <%= link_to icon('times').html_safe, futsal_game, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @futsal_games %>
  </div>
</div>