Je vais parser le match !

<%
require 'open-uri'

h1 = open("https://www.lefive.fr/rouen/")
doc = Nokogiri::HTML(open(@futsal_game.match_resume_link,"Cookie" => h1.meta['set-cookie'].split('; ',2)[0]))

@futsal_game.video_link = doc.css('div#full_match').first.css('a').first['href']
@futsal_game.video_link = @futsal_game.video_link[0..((@futsal_game.video_link.rindex('?'))-1)]
@score = doc.css('div.equipes_score').first
@score.css('div.score_equipe').each_with_index do |score, index|
  if index == 0
    @futsal_game.score_home = score.content;
  else
    @futsal_game.score_outside = score.content;
  end
end
@futsal_game.save
@tableau_buts = doc.css('div.resume').first.css('div.table').first
@goals = Array.new

@futsal_game.parse_goals(@goals, 0, @tableau_buts)

if !@futsal_game.match_resume_link_secondary.nil? && !(@futsal_game.match_resume_link_secondary == '')
  doc = Nokogiri::HTML(open(@futsal_game.match_resume_link_secondary))
  @futsal_game.video_link_secondary = doc.css('div#full_match').first.css('a').first['href']
  @futsal_game.video_link_secondary = @futsal_game.video_link_secondary[0..((@futsal_game.video_link_secondary.rindex('?'))-1)]
  @score = doc.css('div.equipes_score').first
  @score.css('div.score_equipe').each_with_index do |score, index|
    if index == 0
      @futsal_game.score_home = score.content;
    else
      @futsal_game.score_outside = score.content;
    end
  end
  @futsal_game.save
  @tableau_buts = doc.css('div.resume').first.css('div.table').first

  @futsal_game.parse_goals(@goals, @futsal_game.video_secondary_beginning.to_f, @tableau_buts)
end







%>

<table class="table table-hover table-sm table-bordered">
      <thead>
        <tr>
    
          <th>Match</th>
    
          <th>Equipe</th>
    
          <th>Buteur</th>
    
          <th>Passeur</th>
    
          <th>Minute</th>
    
          <th>Lien video</th>
    
          <th class="col-xs-1"></th>
        </tr>
      </thead>

      <tbody>
        <% @goals.each do |goal| %>
          <tr>
    
            <td><%= goal.futsal_game.andand.date %></td>
    
            <td><%= goal.team.name %></td>
    
            <td><%= goal.goal.andand.first_name %></td>
    
            <td><%= goal.assist.andand.first_name %></td>
    
            <td><%= goal.time %></td>
    
            <td><%= goal.video_link %></td>
    
            <td>
              <%= link_to icon('eye').html_safe, goal %>
              <% if can? :edit, Goal %>
                <%= link_to icon('pencil').html_safe, edit_goal_path(1) %>
              <% end %>
              <% if can? :destroy, Goal %>
                <%= link_to icon('times').html_safe, goal, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>