<p id="notice"><%= notice %></p>
<div class="match_header">
  <div class="row">
    <div class="col date">
      <%= @futsal_game.date.strftime("%d/%m/%Y %H:%M") %>
    </div>
    <div class="col duration">
      <%= Time.at(@futsal_game.duration * 60).utc.strftime("%H:%M:%S") %>
    </div>
    <div class="col futsal_field">
      <%= @futsal_game.futsal_field.andand.name %>
    </div>
  </div>
  <div class="row">
    <div class="col team_name">
      <%= @futsal_game.team_home.andand.name %>
    </div>
    <div class="col">
      <div class="row score">
        <div class="col score_but">
          <%= @futsal_game.score_home %>
        </div>
        <div class="col-1">
          -
        </div>
        <div class="col score_but">
          <%= @futsal_game.score_outside %>
        </div>
      </div>  
    </div>
    <div class="col team_name">
      <%= @futsal_game.team_outside.andand.name %>
    </div>
  </div>
</div>
  <div class="row match_link">
    <div class="col">
      <%= link_to icon('television') + " Voir la video du match", @futsal_game.video_link, target: "_blank", class: "btn btn-sm btn-block btn-outline-primary" %>
    </div>
    <div class="col">
      <%= link_to icon('futbol-o') + " Voir le match sur le site du soccer", @futsal_game.match_resume_link, target: "_blank", class: "btn btn-sm btn-block btn-outline-primary" %>
    </div>
  </div>

<div class="row goal_tab">
  <div class="col">
    <div class="team">
      <% @futsal_game.team_home_players.each do |player| %>
        <div class="player">
          <%= icon('user-circle-o') %> <%= player.user %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-5">
    <% @futsal_game.goals.each do |goal| %>
      <div class="row">
        <div class="col home_goal">
          <% if goal.team == @futsal_game.team_home %>
            <%= link_to (goal.goal.andand.first_name + " " + goal.goal.andand.last_name.slice(0,1).capitalize + " " + icon('futbol-o')).html_safe, goal, target: "_blank" %>
          <% end %>
        </div>
        <div class="col-2 time">
          <%= Time.at(goal.time).utc.strftime("%M:%S") %>
        </div>
        <div class="col outside_goal">
          <% if goal.team == @futsal_game.team_outside %>
            <%= link_to (icon('futbol-o') + " " + goal.goal.andand.first_name+ " " + goal.goal.andand.last_name.slice(0,1).capitalize).html_safe, goal, target: "_blank" %>
          <% end %>
        </div>
      </div>  
    <% end %>
  </div>
  <div class="col">
    <div class="team">
      <% @futsal_game.team_outside_players.each do |player| %>
        <div class="player">
          <%= icon('user-circle-o') %> <%= player.user %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= link_to 'Parse match resume', parse_match_resume_futsal_game_path(@futsal_game) %> |
<%= link_to 'Edit', edit_futsal_game_path(@futsal_game) %> |
<%= link_to 'Back', futsal_games_path %>
