<%= link_to "<< Précédent", futsal_game_path(@futsal_game.id - 1) %> | <%= link_to "Suivant >>", futsal_game_path(@futsal_game.id + 1) %>
<% if can? :affect_player_to_team, FutsalGame %>
  <%= simple_form_for(@futsal_game) do |f| %>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Inscriptions</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id='game_registrations'>
              <%= f.simple_fields_for :game_registrations do |game_registration| %>
                <%= render 'game_registrations/game_registrations_field', f: game_registration %>
              <% end %> 
              <div class='links'>
                <%= link_to_add_association "Inscrire", f, :game_registrations, partial: 'game_registrations/game_registrations_field' %>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            <%= f.button :button, class: "btn btn-primary" do %>
              Valider
            <% end %>
          </div>
        </div>
      </div>
    </div>
    
  <% end %>
<% end %>


<p id="notice"><%= notice %></p>
<div class="match_header">
  <div class="row">
    <div class="col date">
      <%= @futsal_game.date.strftime("%d/%m/%Y %H:%M") %>
    </div>
    <div class="col duration">
      <%= Time.at(@futsal_game.duration * 60).utc.strftime("%H:%M:%S") %>
    </div>
    <div class="col futsal_field">
      <%= @futsal_game.futsal_field.andand.name %>
    </div>
  </div>
  <div class="row">
    <div class="col team_name">
      <%= @futsal_game.team_home.andand.name %>
    </div>
    <div class="col">
      <div class="row score">
        <div class="col score_but">
          <%= @futsal_game.score_home %>
        </div>
        <div class="col-1">
          -
        </div>
        <div class="col score_but">
          <%= @futsal_game.score_outside %>
        </div>
      </div>  
    </div>
    <div class="col team_name">
      <%= @futsal_game.team_outside.andand.name %>
    </div>
  </div>
</div>
  <div class="row match_link">
    <% if !@futsal_game.video_link.nil?  && @futsal_game.video_link != "" %>
      <div class="col">
        <%= link_to icon('television') + " Voir la video du match", @futsal_game.video_link, target: "_blank", class: "btn btn-sm btn-block btn-outline-primary" %>
      </div>
    <% end %>
    <% if can? :affect_player_to_team, FutsalGame %>
      <div class="col">
        <button type="button" class="btn btn-sm btn-block btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
            <%= (icon('user-plus') + ' Inscrire un joueur').html_safe %>
          </button>
      </div>
    <% end %>
    <% if !@futsal_game.match_resume_link.nil? && @futsal_game.match_resume_link != "" %>
      <div class="col">
        <%= link_to icon('futbol-o') + " Voir le match sur le site du soccer", @futsal_game.match_resume_link, target: "_blank", class: "btn btn-sm btn-block btn-outline-primary" %>
      </div>
    <% end %>
  </div>

<div class="row goal_tab">
  <div class="col-sm-12 col-md-3">
    <%= render 'show_team', team: @futsal_game.team_home_players, futsal_game: @futsal_game %>
  </div>
  <div class="col-sm-12 col-md-6">
    
    <% @futsal_game.andand.team_less_players.each do |player| %>
        <div class="player">
          <%= icon('user-circle-o') %> <%= player.user %>
          <% if can? :affect_player_to_team, FutsalGame %>
            Affecter :
            <%= link_to 'Equipe 1', affect_player_to_team_futsal_game_path(game_registration: player, team: @futsal_game.team_home) %> - 
            <%= link_to 'Equipe 2', affect_player_to_team_futsal_game_path(game_registration: player, team: @futsal_game.team_outside) %>
          <% end %>
        </div>
    <% end %>
    <% @futsal_game.highlights_and_goals.each do |goal| %>
      <div class="row">
        <div class="col home_goal">
          <% if goal.team == @futsal_game.team_home %>
            <% if goal.instance_of? Highlight %>
              <%= link_to (goal.andand.victim.to_s + " " + icon(goal.highlight_type.icon)).html_safe, goal, target: "_blank" %>
            <% else %>
              <%= link_to ((goal.andand.assist.nil? ? " " : goal.andand.assist.to_s + " " + icon('arrow-circle-right') + " ") + goal.andand.goal.to_s + " " + icon('futbol-o')).html_safe, goal, target: "_blank" %>
            <% end %>
          <% end %>
        </div>
        <div class="col-2 time">
          <%= Time.at(goal.time).utc.strftime("%M:%S") %>
        </div>
        <div class="col outside_goal">
          <% if goal.team == @futsal_game.team_outside %>
            <% if goal.instance_of? Highlight %>
              <%= link_to (icon(goal.highlight_type.icon) + " " + goal.andand.victim.to_s).html_safe, goal, target: "_blank" %>
            <% else %>
              <%= link_to (icon('futbol-o') + " " + goal.andand.goal.to_s + " " + (goal.andand.assist.nil? ? " " : icon('arrow-circle-right').html_safe + " " + goal.andand.assist.to_s)).html_safe, goal, target: "_blank" %>
            <% end %>
          <% end %>
        </div>
      </div>  


    <% end %>
  </div>
  <div class="col-sm-12 col-md-3">
    <%= render 'show_team', team: @futsal_game.team_outside_players, futsal_game: @futsal_game %>    
  </div>
</div>
<% if (can? :parse_match_resume, FutsalGame) && !@futsal_game.match_resume_link.nil? && @futsal_game.match_resume_link != "" %>
  <%= link_to 'Parse match resume', parse_match_resume_futsal_game_path(@futsal_game) %> |
<% end %>
<% if can? :edit, FutsalGame %>
  <%= link_to 'Edit', edit_futsal_game_path(@futsal_game) %> |
<% end %>
<%= link_to 'Back', futsal_games_path %>
