<div class="link-previous-next">
  <%= link_to icon('angle-double-left') + " Précédent", futsal_game_path(@futsal_game.id - 1) %> | <%= link_to ("Suivant " + icon('angle-double-right')).html_safe, futsal_game_path(@futsal_game.id + 1) %>
</div>
<!-- Modal -->
<div class="modal fade" id="goal_modal" tabindex="-1" role="dialog" aria-labelledby="goal_modal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">But</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe id="iframe_goal" src="" width="100%" height="500px"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function change_goal(url) {
    document.getElementById('iframe_goal').src = url;
  }
</script>





<% if !notice.nil? %>
  <p id="notice"><%= notice %></p>
<% end %>
<div class="match_header">
  <div class="row">
    <div class="col date">
      <%= @futsal_game.date.strftime("%d/%m/%Y %H:%M") %>
    </div>
    <div class="col duration">
      <%= Time.at(@futsal_game.duration * 60).utc.strftime("%H:%M:%S") %>
    </div>
    <div class="col futsal_field">
      <%= @futsal_game.futsal_field.andand.name %>
    </div>
  </div>
  <div class="row">
    <div class="col team_name">
      <%= @futsal_game.team_home.andand.name %>
    </div>
    <div class="col">
      <div class="row score">
        <div class="col score_but">
          <%= @futsal_game.score_home %>
        </div>
        <div class="col-1">
          -
        </div>
        <div class="col score_but">
          <%= @futsal_game.score_outside %>
        </div>
      </div>  
    </div>
    <div class="col team_name">
      <%= @futsal_game.team_outside.andand.name %>
    </div>
  </div>
</div>
  <div class="row match_link">
    <% if !@futsal_game.video_link.nil?  && @futsal_game.video_link != "" %>
      <div class="col">
        <%= link_to icon('television') + " Voir la video du match", @futsal_game.video_link, target: "_blank", class: "btn btn-sm btn-block btn-outline-primary" %>
      </div>
    <% end %>
    <% if (can? :affect_player_to_team, @futsal_game) || (can? :invite_player, @futsal_game) %>
      <div class="col">
        <%= link_to (icon('user-plus') + ' Inscrire/Inviter un joueur').html_safe, affect_or_invite_players_futsal_game_path(@futsal_game) , class: "btn btn-sm btn-block btn-outline-primary" %>
      </div>
    <% end %>
    <% if !@futsal_game.match_resume_link.nil? && @futsal_game.match_resume_link != "" %>
      <div class="col">
        <%= link_to icon('futbol-o') + " Voir le match sur le site du soccer", @futsal_game.match_resume_link, target: "_blank", class: "btn btn-sm btn-block btn-outline-primary" %>
      </div>
    <% end %>
    <% if (@futsal_game.game_registrations.length > 0) && (can? :send_email_to_prevent_teams_are_up_to_date, @futsal_game) %>
      <div class="col">
        <%= link_to icon('envelope-o') + " Equipes à jour", send_email_to_prevent_teams_are_up_to_date_futsal_game_path, target: "_blank", class: "btn btn-sm btn-block btn-outline-primary" %>
      </div>
    <% end %>
    <% if !@futsal_game.match_resume_link.nil? && @futsal_game.match_resume_link != "" && (can? :send_email_to_prevent_statistics_are_up_to_date, @futsal_game) %>
      <div class="col">
        <%= link_to  icon('envelope-o') + " Stats à jour", send_email_to_prevent_statistics_are_up_to_date_futsal_game_path, target: "_blank", class: "btn btn-sm btn-block btn-outline-primary" %>
      </div>
    <% end %>
  </div>

<% if @futsal_game.has_highlights_or_goals %>
  <%= render 'timeline', futsal_game: @futsal_game %> 
<% end %>

<div class="row goal_tab">
  <div class="col-sm-12 col-md-6">
    <% if @futsal_game.team_home_players.length > 0 %>
      <%= render 'show_team_fifa', team: @futsal_game.team_home_players, futsal_game: @futsal_game %>
      <% if @futsal_game.futsal_game_player_position_and_change_by_team(@futsal_game.team_home).length > 0 %>  
        <%= render 'show_team_position', team_position: @futsal_game.andand.futsal_game_player_position_and_change_by_team(@futsal_game.team_home) %>
      <% end %>
    <% end %>
  </div>
  
  <div class="col-sm-12 col-md-6">
    <% if @futsal_game.team_outside_players.length > 0 %>
      <%= render 'show_team_fifa', team: @futsal_game.team_outside_players, futsal_game: @futsal_game %> 
      <% if @futsal_game.futsal_game_player_position_and_change_by_team(@futsal_game.team_outside).length > 0 %>  
        <%= render 'show_team_position', team_position: @futsal_game.andand.futsal_game_player_position_and_change_by_team(@futsal_game.team_outside) %>
      <% end %>
    <% end %>
  </div>
</div>
<% if @futsal_game.has_stat %>
  <%= render 'chart', minutes_buts: @minutes_buts, ecart: @ecart, futsal_game: @futsal_game %>
<% end %>
<div class="row">
  <div class="col">    
    <% @futsal_game.andand.team_less_players.order_by_users_stats.each do |player| %>
      <div class="player_without_team">         
        <%= render 'fifa_card/fifa_card', player: player.user, stat: player, highlights_and_goals_by_user: player.futsal_game.highlights_and_goals_by_user(player.user) %>
        <div class="affect_player_to_team">
           <% if can? :affect_player_to_team, @futsal_game %>
            <strong>Affecter</strong><br> 
            <%= link_to 'Equipe 1', affect_player_to_team_futsal_game_path(game_registration: player, team: @futsal_game.team_home) %> - 
            <%= link_to 'Equipe 2', affect_player_to_team_futsal_game_path(game_registration: player, team: @futsal_game.team_outside) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col">    
    <% @futsal_game.andand.futsal_game_invitations.each do |player| %>
      <div class="player_without_team">         
        <%= render 'fifa_card/fifa_card', player: player.user, stat: player, highlights_and_goals_by_user: [] %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col"> 
    <%= render 'show_highlights_and_goals', futsal_game: @futsal_game %>
  </div>
</div>

<% if (can? :calculate_goalkeeper_position, FutsalGame) && !@futsal_game.match_resume_link.nil? && @futsal_game.match_resume_link != "" %>
  <%= link_to 'Calculate Goalkeeper Position', calculate_goalkeeper_position_futsal_game_path(@futsal_game) %> |
<% end %>
<% if (can? :parse_match_resume, FutsalGame) && !@futsal_game.match_resume_link.nil? && @futsal_game.match_resume_link != "" %>
  <%= link_to 'Parse match resume', parse_match_resume_futsal_game_path(@futsal_game) %> |
<% end %>
<% if can? :edit, FutsalGame %>
  <%= link_to 'Edit', edit_futsal_game_path(@futsal_game) %> |
<% end %>
<%= link_to 'Back', futsal_games_path %>
