<h1><%= t('.title') %><span class="badge"><%= @futsal_game_player_position_changes.count %></span></h1>

<div class="row">
  <div class="col-2">
    <legend class="filter-title"><%= t :search_title %></legend>
    <fieldset class="filter-panel">
      <%= search_form_for @q do |f| %>

        <%= f.search_field :futsal_position_name_cont, {placeholder: t('activerecord.attributes.futsal_game_player_position_change.futsal_position')} %>

        <%= f.search_field :time_cont, {placeholder: t('activerecord.attributes.futsal_game_player_position_change.time')} %>

        <%= f.search_field :game_registration_player_in_user_first_name_cont, {placeholder: t('activerecord.attributes.futsal_game_player_position_change.game_registration_player_in')} %>

        <%= f.search_field :game_registration_player_out_user_first_name_cont, {placeholder: t('activerecord.attributes.futsal_game_player_position_change.game_registration_player_out')} %>

        <br>
        <br>
        <%= f.submit class: 'btn btn-search-filter btn-sm btn-outline-primary' %>
      <% end %>
    </fieldset>
  </div>
  <div class="col">
    <div class="col-md-3 btn-new-top">
      <% if can? :create, FutsalGamePlayerPositionChange %>
        <%= link_to (icon('plus') + " " + t('.new_button')).html_safe, url_for(action: :new), class: "btn btn-sm btn-outline-primary" %>
      <% end %>
    </div>
    <table class="table table-hover table-sm table-bordered">
      <thead>
        <tr>
    
          <th><%= sort_link(@q, :futsal_position, default_order: :asc) %></th>
    
          <th><%= sort_link(@q, :time, default_order: :asc) %></th>
    
          <th><%= sort_link(@q, :game_registration_player_in, default_order: :asc) %></th>
    
          <th><%= sort_link(@q, :game_registration_player_out, default_order: :asc) %></th>
    
          <th class="col-xs-1"></th>
        </tr>
      </thead>

      <tbody>
        <% @futsal_game_player_position_changes.each do |futsal_game_player_position_change| %>
          <tr>
    
            <td><%= futsal_game_player_position_change.futsal_position %></td>
    
            <td><%= futsal_game_player_position_change.time %></td>
    
            <td><%= futsal_game_player_position_change.game_registration_player_in %></td>
    
            <td><%= futsal_game_player_position_change.game_registration_player_out %></td>
    
            <td>
              <%= link_to icon('eye').html_safe, futsal_game_player_position_change %>
              <% if can? :edit, FutsalGamePlayerPositionChange %>
                <%= link_to icon('pencil').html_safe, edit_futsal_game_player_position_change_path(futsal_game_player_position_change) %>
              <% end %>
              <% if can? :destroy, FutsalGamePlayerPositionChange %>
                <%= link_to icon('times').html_safe, futsal_game_player_position_change, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @futsal_game_player_position_changes %>
  </div>
</div>