<div class="player-fut <%= player_fut_class(player.andand.rating, calculate_game_level(stat.andand.goal, player.andand.goal_average_by_match.to_f, stat.andand.assist, player.andand.assist_average_by_match.to_f, (stat.andand.player_duration.to_f/60))).to_s %>">
  <div class="name">
    <%= link_to player, player %> 
      <% if stat %>
        <a data-toggle="tooltip" title="Nombre de buts pendant le match">
          <%= icon('futbol-o') + ' ' + stat.goal.to_s %>
        </a>
        <a data-toggle="tooltip" title="Nombre de passes décisives pendant le match">
          <%= icon('arrow-circle-right') + ' ' + stat.assist.to_s %>
        </a>
        <a data-toggle="tooltip" title="Nombre de buts encaissés pendant le match">
          <%= icon('sign-in') + ' ' + stat.goalkeeper_goal_against.to_i.to_s %> 
        </a>
      <% end %>
  </div>
  <div class="rating">
    <a data-toggle="tooltip" title="Note">
        <% if player.andand.rating.nil? || player.andand.rating.to_f.nan? %>
          -
        <% else %>
          <%= player.andand.rating.andand.round %>
        <% end %>
    </a>
    <%= stat ? show_game_level(stat.goal, player.andand.goal_average_by_match.to_f, stat.assist, player.andand.assist_average_by_match.to_f, (stat.andand.player_duration.to_f/60)) : "" %>
  </div>
  <div class="position">
    <a data-toggle="tooltip" title="Position">
      <%= player.andand.futsal_position.andand.abbreviation %>
    </a>
  </div>
  <div class="picture">
    <img src="/assets/fifa/players/<%= player.andand.picture ? player.andand.picture : 'inconnu.jpg' %>">
  </div>
  <div class="company"> 
    <% if !player.andand.company.nil? %>   
      <a data-toggle="tooltip" title="<%= player.andand.company %>">
        <img src="/assets/fifa/companies/<%= player.andand.company.andand.picture %>">
      </a>
    <% end %>
  </div>
  <div class="nationality">
    <% if !player.andand.nationality.nil? %>   
      <a data-toggle="tooltip" title="<%= player.andand.nationality %>">
        <img src="/assets/fifa/nationalities/<%= player.andand.nationality.andand.picture %>">
      </a>
    <% end %>
  </div>

  <div class="attr1">
    <a data-toggle="tooltip" title="Nombre de buts"><%= player.andand.goal %> BUT</a>
  </div>

  <div class="attr2">
    <a data-toggle="tooltip" title="Nombre de buts par match">
      <% if player.andand.goal_average_by_match.nil? || player.andand.goal_average_by_match.to_f.nan? %>
        -
      <% else %>
        <%= (player.andand.goal_average_by_match || 0).round(1) %> B/M
      <% end %>
    </a>
  </div>

  <div class="attr3">
    <a data-toggle="tooltip" title="Nombre de matchs"><%= player.andand.match %> MAT</a>
  </div>

  <div class="attr4">
    <a data-toggle="tooltip" title="Nombre de passes décisives"><%= player.andand.assist %> AST</a>    
  </div>

  <div class="attr5">
    <a data-toggle="tooltip" title="Nombre de passes décisives par match">
        <% if player.andand.assist_average_by_match.nil? || player.andand.assist_average_by_match.to_f.nan? %>
          -
        <% else %>
          <%= (player.andand.assist_average_by_match || 0).round(1) %> A/M
        <% end %>
    </a>
  </div>

  <div class="attr6">
    <a data-toggle="tooltip" title="Nombre de matchs avec stats"><%= (player.andand.match_with_stats || 0).round(1) %> M/S</a>
  </div>

  <div class="match_stat">
    <% if !stat.nil? %>
      <a data-toggle="tooltip" title="Durée gardien de but"><%= icon('hand-stop-o') %> <%= (stat.goalkeeper_duration.to_f / 60).round %>'</a>
      <a data-toggle="tooltip" title="Durée joueur"><%= icon('user') %> <%= (stat.player_duration.to_f / 60).round %>'</a>
      <a data-toggle="tooltip" title="Durée remplacant"><%= icon('refresh') %> <%= (stat.substitute_duration.to_f / 60).round %>'</a>      
      <%
        if stat.andand.user_futsal_trophies.count > 0
          show_trophies = "<ul>"
          stat.andand.user_futsal_trophies.each do |trophies|
            show_trophies += "<li>" + trophies.futsal_trophy.to_s + "</li>"
          end
          show_trophies += "</ul>"
        else
          show_trophies = ""
        end
      %>
      <a data-toggle="tooltip" data-html="true" title="Trophées gagnés pendant le match<br><%= show_trophies %>">
        <%= icon('trophy') + ' ' + stat.andand.user_futsal_trophies.count.to_i.to_s %> 
      </a>
    <% end %>
  </div>

  <div class="highlights_and_goals">
    <% if highlights_and_goals_by_user %>  
      <% highlights_and_goals_by_user.each do |goal| %>
        <span class="label-tooltip drop-menu<%= (goal.instance_of? Goal) && goal.andand.own_goal ? ' own_goal' : '' %>">
          <% if goal.instance_of? Highlight %>
            <%= link_to_open_highlight_in_modal(icon(goal.highlight_type.icon), goal).html_safe %>
            <span class="label-tooltiptext label-tooltip-bottom">
              <%= icon('clock-o') %> <%= Time.at(goal.time).utc.strftime("%M:%S") %><br>
              <%= icon(goal.highlight_type.icon) %> <%= goal.andand.victim.to_s %><br>
              <i>Cliquez pour voir l'action</i>
            </span>
          <% else %>
            <%= link_to_open_goal_in_modal(((goal.andand.goal.andand.id == player.id ) ? icon('futbol-o') : ((goal.andand.assist.andand.id == player.id ) ? icon('arrow-circle-right') : icon('sign-in'))), goal).html_safe %>
            <span class="label-tooltiptext label-tooltip-bottom">
              <%= icon('clock-o') %> <%= Time.at(goal.time).utc.strftime("%M:%S") %><br>
              <%= icon('futbol-o') %> <%= goal.andand.goal.to_s %><br>
              <%= icon('arrow-circle-right') %> <%= goal.andand.assist.to_s %><br>
              <%= icon('sign-in') %> <%= goal.andand.goalkeeper.to_s %><br>
              <i>Cliquez pour voir le but</i>
            </span>
          <% end %>
        </span>
      <% end %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip(); 
  });
</script>

