<div class="row">
  <div class="col col-md-3 col-sm-6 col-xs-12">
    <%= render 'users/user_profile', user: @user %> 
  </div>
  <div class="col col-md-3 col-sm-6 col-xs-12">
    <h3>Matchs (<%= @user.game_registrations.order_by_futsal_game.count %>)</h3>
    <% if can? :create, FutsalGame %>
     <%= link_to (icon('plus') + " Organiser un match").html_safe, new_futsal_game_path, class: "btn btn-sm btn-block btn-outline-primary" %>
   <% end %>
    <div class="dashboard-panel-content">
      <table class="table table-sm">
        <tbody>
          <% @user.game_registrations.order_by_futsal_game.each do |game_registration| %>
            <tr>
              <td colspan="3">
                <%= game_registration.futsal_game.date.strftime("%d/%m/%Y %H:%M").to_s %>
                <a data-toggle="tooltip" title="Nombre de buts pendant le match">
                  <%= icon('futbol-o') %> <%= game_registration.goal %>
                </a>
                <a data-toggle="tooltip" title="Nombre de passes décisives pendant le match">
                  <%= icon('arrow-circle-right') %> <%= game_registration.assist %>
                </a>
                <a data-toggle="tooltip" title="Nombre de buts encaissés pendant le match">
                  <%= icon('sign-in') %> <%= game_registration.goalkeeper_goal_against %> 
                </a>       
              </td>
            </tr>  
            <tr class="<%= css_class_match_result(game_registration.match_result).html_safe %>">
              <td><%= game_registration.futsal_game.has_stat ? show_game_level(game_registration.goal.to_f, @user.goal_average_by_match, game_registration.assist.to_f, @user.assist_average_by_match) : "" %></td>
              <td class="text-center"><%= game_registration.futsal_game.team_home.andand.name.to_s + " " + game_registration.futsal_game.score_home.to_s + " - " + game_registration.futsal_game.score_outside.to_s + " " + game_registration.futsal_game.team_outside.andand.name.to_s %> <%=  %></td>
              <td><%= link_to icon('eye').html_safe, game_registration.futsal_game, target: "_blank" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <h3>Buts encaissés (<%= @user.goalkeeper_goals_against.order_by_futsal_game_and_time.count %>)</h3> 
    <div class="dashboard-panel-content">
      <table class="table table-sm">
        <tbody>
          <% @user.goalkeeper_goals_against.order_by_futsal_game_and_time.each do |goal| %>
            <tr>
              <td><%= goal.futsal_game.date.strftime("%d/%m/%y").to_s %></td>
              <td><%= goal.goal ? icon('futbol-o') + ' ' + goal.goal : '' %></td>
              <td><%= goal.average_mark %></td>
              <td><%= link_to icon('eye').html_safe, goal, target: "_blank" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col col-md-3 col-sm-6 col-xs-12">
    <h3>Buts (<%= @user.not_own_goals.order_by_futsal_game_and_time.count %>)</h3> 
    <div class="dashboard-panel-content">
      <table class="table table-sm">
        <% @user.not_own_goals.order_by_futsal_game_and_time.each do |goal| %>
          <tr>
            <td><%= goal.futsal_game.date.strftime("%d/%m/%y").to_s %></td>
            <td><%= goal.assist ? icon('arrow-circle-right') + ' ' + goal.assist : '' %></td>
            <td><%= goal.average_mark %></td>
            <td><%= link_to icon('eye').html_safe, goal, target: "_blank" %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <h3>CSC (<%= @user.own_goals.order_by_futsal_game_and_time.count %>)</h3> 
    <div class="dashboard-panel-content">
      <table class="table table-sm">
        <% @user.own_goals.order_by_futsal_game_and_time.each do |goal| %>
          <tr>
            <td><%= goal.futsal_game.date.strftime("%d/%m/%y").to_s %></td>
            <td><%= goal.assist ? icon('arrow-circle-right') + ' ' + goal.assist : '' %></td>
            <td><%= goal.average_mark %></td>
            <td><%= link_to icon('eye').html_safe, goal, target: "_blank" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div class="col col-md-3 col-sm-6 col-xs-12">
    <h3>Passes décisives (<%= @user.assists.order_by_futsal_game_and_time.count %>)</h3> 
    <div class="dashboard-panel-content">
      <table class="table table-sm">
        <tbody>
          <% @user.assists.order_by_futsal_game_and_time.each do |goal| %>
            <tr>
              <td><%= goal.futsal_game.date.strftime("%d/%m/%y").to_s %></td>
              <td><%= goal.goal ? icon('futbol-o') + ' ' + goal.goal : '' %></td>
              <td><%= goal.average_mark %></td>
              <td><%= link_to icon('eye').html_safe, goal, target: "_blank" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>