<h1><%= t('.title') %> - <%= @users.count %></h1>

<div class="row">
  <div class="col-2">
    <legend class="filter-title"><%= t :search_title %></legend>
    <fieldset class="filter-panel">
      <%= search_form_for @q do |f| %>

        <%= f.search_field :first_name_cont, {placeholder: t('activerecord.attributes.user.first_name')} %>

        <%= f.search_field :last_name_cont, {placeholder: t('activerecord.attributes.user.last_name')} %>

        <%= t('activerecord.attributes.user.company') %>

        <%= f.collection_select :company_id_eq, Company.all, :id, :name, include_blank: true %>

        <%= f.search_field :goal_cont, {placeholder: t('activerecord.attributes.user.goal')} %>

        <%= f.search_field :assist_cont, {placeholder: t('activerecord.attributes.user.assist')} %>

        <br>
        <br>
        <%= f.submit class: 'btn btn-search-filter btn-sm btn-outline-primary' %>
      <% end %>
    </fieldset>
  </div>
  <div class="col">
    <div class="col-md-3 btn-new-top">
      <% if can? :create, User %>
        <%= link_to (icon('plus') + " " + t('.new_button')).html_safe, url_for(action: :new), class: "btn btn-sm btn-outline-primary" %>
      <% end %>
    </div>
    Trier par : 
    <%= sort_link(@q, :first_name, default_order: :asc) %> / <%= sort_link(@q, :last_name, default_order: :asc) %> / 
    <%= sort_link(@q, :company_name, default_order: :asc) %> / <%= sort_link(@q, :player_duration, default_order: :asc) %> / 
    <%= sort_link(@q, :goal, default_order: :asc) %> / <%= sort_link(@q, :goal_average_by_match, default_order: :asc) %> / 
    <%= sort_link(@q, :own_goal, default_order: :asc) %> / <%= sort_link(@q, :assist, default_order: :asc) %> / 
    <%= sort_link(@q, :assist_average_by_match, default_order: :asc) %> / <%= sort_link(@q, :goalkeeper_duration, default_order: :asc) %> / 
    <%= sort_link(@q, :goalkeeper_goal_against, default_order: :asc) %> / <%= sort_link(@q, :goalkeeper_goal_against_average, default_order: :asc) %> /
    <%= sort_link(@q, :match, default_order: :asc) %> / <%= sort_link(@q, :rating, default_order: :asc) %> / <%= sort_link(@q, :futsal_position, default_order: :asc) %>

    <table class="table table-hover table-sm table-bordered">

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td rowspan='5'><img src="/assets/fifa/players/<%= user.andand.picture ? user.andand.picture : 'inconnu.jpg' %>" width="150px"></td>
          
            <td><strong><%= user.first_name %> <%= user.last_name %></strong> <%= user.company ? '(' + user.company.to_s + ')' : '' %> - 
              <%= user.futsal_position %> - <%= user.rating.to_f.round(2) %>
            </td>

            
    
            <td>Match : <%= user.match %> (avec stats : <%= user.match_with_stats.round(2) %>)</td>

            <td rowspan='5'>
              <%= link_to icon('eye').html_safe, user %>
              <% if can? :edit, User %>
                <%= link_to icon('pencil').html_safe, edit_user_path(user) %>
              <% end %>
              <% if can? :destroy, User %>
                <%= link_to icon('times').html_safe, user, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </td>
          </tr>
          <tr>
    
            <td>Buts : <%= user.goal %> (<%= user.goal_average_by_match.to_f.round(2) %> / match)</td>
            <td><%= user.match_time.round(0) %> min</td>
          </tr>
          <tr>

            <td>CSC : <%= user.own_goal %> (<%= user.assist_average_by_match.to_f.round(2) %> / match)</td>
            <td>
              <a data-toggle="tooltip" title="Durée gardien de but">
                <%= icon('hand-stop-o') %> <%= (user.goalkeeper_duration.to_f / 60).round %> min
              </a>
            </td>
          </tr>
          <tr>
    
            <td>Assit : <%= user.assist %> (<%= user.assist_average_by_match.to_f.round(2) %> / match)</td>
            <td>
              <a data-toggle="tooltip" title="Durée joueur">
                <%= icon('user') %> <%= (user.player_duration.to_f / 60).round %> min
              </a>
            </td>
          </tr>
          <tr>

            <td>Buts encaissés : <%= user.goalkeeper_goal_against %> (<%= (user.goalkeeper_goal_against_average || 0).round(2) %> / match)</td>


            <td>
              <a data-toggle="tooltip" title="Durée remplacant">
                <%= icon('refresh') %> <%= (user.substitute_duration.to_f / 60).round %> min
              </a>
            </td>    
            
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @users %>
  </div>
</div>