<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-5 row">
    <div class="col-4">
      <%= image_tag("blank-profile-picture.png", width: '100%') %>
    </div>
    <div class="col">
      <p>
        <%= @user.first_name %> <%= @user.last_name %> <%= !@user.company.nil? ? "("+ @user.company.name + ")" : "" %>
      </p>
      <p>
        <%= @user.display_stats.html_safe %>
      </p>
    </div>
  </div>
  <div class="col">
    <h3>Matchs</h3>
    <table class="table table-sm">
      <thead>
        <tr>
          <td></td>
          <td></td>
          <th>Match</th>
          <td></td>
          <th><%= icon('futbol-o') %></th>
          <th><%= icon('arrow-circle-right') %></th>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% @user.game_registrations.order_by_futsal_game.each do |game_registration| %>
          <tr>
            <td><%= formatted_match_result(game_registration.match_result).html_safe %></td>
            <td><%= show_game_level(game_registration.goal.to_f, @user.goal_average_by_match, game_registration.assist.to_f, @user.assist_average_by_match) %></td>
            <td><%= game_registration.futsal_game %></td>
            <td class="text-center"><%= game_registration.futsal_game.score_home %> - <%= game_registration.futsal_game.score_outside %></td>
            <td><%= game_registration.goal %></td>
            <td><%= game_registration.assist %></td>
            <td><%= link_to icon('eye').html_safe, game_registration.futsal_game, target: "_blank" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<div class="row">
  <div class="col">
    <h3>Buts</h3>
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Match</th>
          <th>Passeur</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <% @user.goals.order_by_futsal_game_and_time.each do |goal| %>
          <tr>
            <td><%= goal.futsal_game %></td>
            <td><%= goal.assist %></td>
            <td><%= formatted_match_time(goal.time) %></td>
            <td><%= link_to icon('eye').html_safe, goal, target: "_blank" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>




<% if can? :edit, User %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end %>
<%= link_to 'Back', users_path %>