<div class="row">
  <div class="col">
    <!--<h3>Matchs</h3>-->
    
    <%= month_calendar(attribute: :date, events: @futsal_games) do |date, futsal_games| %> 
      <% futsal_games.each do |futsal_game| %>
        <div class="calendar_event_match">
          <%= futsal_game.to_s_with_only_hour %>
          <strong><%= futsal_game.score_home %> - <%= futsal_game.score_outside %></strong>
          <%= link_to icon('eye').html_safe, futsal_game, target: "_blank" %>

          
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col">
    <h3>Top Buts</h3>
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Match</th>
          <th>Buteur</th>
          <th>Passeur</th>
          <th>Time</th>
          <th>Note</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @top_buts.each do |goal| %>
          <tr>
            <td><%= goal.futsal_game %></td>
            <td><%= goal.goal %></td>
            <td><%= goal.assist %></td>
            <td><%= formatted_match_time(goal.time) %></td>
            <td><%= goal.average_mark %></td>
            <td><%= link_to icon('eye').html_safe, goal, target: "_blank" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>