<div class="row">
  <div class="col">
    <%= f.association :user, label: false, input_html: { class: "form-control" }, collection: @users %>
    <%= f.input :futsal_game_id, as: :hidden, input_html: { value: f.object.futsal_game.id } %>
  </div>
  <div class="col">
    <%= f.input :team_id, label: false, input_html: { class: "form-control" }, collection: @game_registrations_possibles_teams, selected: f.object.team.andand.id %>
  </div>
  <div class="col">
    <%= f.input :player_footbar_name, label: false, input_html: { class: "form-control" }, collection: @stats_players_name %>
  </div>
  <div class="col-1">
    <%= link_to_remove_association icon('times').html_safe, f %>
  </div>
</div>
