<h1><%= t('.title') %><span class="badge"><%= @user_futsal_trophies.count %></span></h1>

<div class="row">
  <div class="col-2">
    <legend class="filter-title"><%= t :search_title %></legend>
    <fieldset class="filter-panel">
      <%= search_form_for @q do |f| %>

        <%= f.search_field :user_first_name_cont, {placeholder: t('activerecord.attributes.user_futsal_trophy.user')} %>

        <%= f.search_field :futsal_trophy_name_cont, {placeholder: t('activerecord.attributes.user_futsal_trophy.futsal_trophy')} %>

        <%= f.search_field :linked_entity_type_cont, {placeholder: t('activerecord.attributes.user_futsal_trophy.linked_entity')} %>

        <br>
        <br>
        <%= f.submit class: 'btn btn-search-filter btn-sm btn-outline-primary' %>
      <% end %>
    </fieldset>
  </div>
  <div class="col">
    <div class="col-md-3 btn-new-top">
      <% if can? :create, UserFutsalTrophy %>
        <%= link_to (icon('plus') + " " + t('.new_button')).html_safe, url_for(action: :new), class: "btn btn-sm btn-outline-primary" %>
      <% end %>
    </div>
    <table class="table table-hover table-sm table-bordered">
      <thead>
        <tr>
    
          <th><%= sort_link(@q, :user, default_order: :asc) %></th>
    
          <th><%= sort_link(@q, :futsal_trophy_name, default_order: :asc) %></th>
    
          <th><%= sort_link(@q, :linked_entity_type, default_order: :asc) %></th>
    
          <th class="col-xs-1"></th>
        </tr>
      </thead>

      <tbody>
        <% @user_futsal_trophies.each do |user_futsal_trophy| %>
          <tr>
    
            <td><%= user_futsal_trophy.user %></td>
    
            <td><%= user_futsal_trophy.futsal_trophy %></td>
    
            <td><%= user_futsal_trophy.linked_entity %> <%= link_to icon('eye').html_safe, user_futsal_trophy.linked_entity %></td>
    
            <td>
              <%= link_to icon('eye').html_safe, user_futsal_trophy %>
              <% if can? :edit, UserFutsalTrophy %>
                <%= link_to icon('pencil').html_safe, edit_user_futsal_trophy_path(user_futsal_trophy) %>
              <% end %>
              <% if can? :destroy, UserFutsalTrophy %>
                <%= link_to icon('times').html_safe, user_futsal_trophy, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @user_futsal_trophies %>
  </div>
</div>