<p id="notice"><%= notice %></p>

<p>
  <strong>Futsal game:</strong>
  <%= @goal.futsal_game %>
</p>

<p>
  <strong>Team:</strong>
  <%= @goal.team %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @goal.goal %>
</p>

<p>
  <strong>Assist:</strong>
  <%= @goal.assist %>
</p>

<p>
  <strong>Time:</strong>
  <%= @goal.time %>
</p>

<p>
  <strong>Video link:</strong>
  <%= @goal.video_link %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
