<p id="notice"><%= notice %></p>

<div class="row goal_header">
  <div class="col time">
    <%= Time.at(@goal.time).utc.strftime("%H:%M:%S") %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= @goal.futsal_game %>
  </div>
  <div class="col">
    <%= @goal.team %>
  </div>
  <div class="col">
    <%= icon('futbol-o') %> <%= @goal.goal %>
  </div>
  <div class="col">
    <%= icon('arrow-circle-right') %> <%= @goal.assist %>
  </div>
</div>
<div class="row">
  <div class="col">
    <%= link_to icon('television') + " Voir la video du but", @goal.video_link, target: "_blank", class: "btn btn-sm btn-block btn-outline-primary" %>
  </div>
</div>
<div class="row">
  <div class="col">
    <% if !@goal.futsal_game.andand.video_link.nil? %>
      <iframe src="<%= @goal.futsal_game.video_link %>?start=<%= @goal.time - 15 %>&autoplay=1" width="100%" height="400px" frameborder="0"  volume="0" allowfullscreen></iframe>
    <% else %>
      Pas de vidéo
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
