<p id="notice"><%= notice %></p>

<div class="row goal_header">
  <div class="col time">
    <%= Time.at(@highlight.time).utc.strftime("%H:%M:%S") %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= @highlight.futsal_game %>
  </div>
  <div class="col">
    <%= @highlight.team %>
  </div>
  <div class="col">
    <%= icon(@highlight.highlight_type.icon) %> <%= @highlight.victim %>
  </div>
  <div class="col">
    <%= @highlight.author_id %>
  </div>
</div>
<div class="row">
  <div class="col">
    <% if !@highlight.futsal_game.andand.video_link.nil? %>
      <iframe src="<%= @highlight.futsal_game.video_link %>?start=<%= @highlight.time - 15 %>&autoplay=1" width="100%" height="400px" frameborder="0"  volume="0" allowfullscreen></iframe>
    <% else %>
      Pas de vidéo
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_highlight_path(@highlight) %> |
<%= link_to 'Back', highlights_path %>
