<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_futsal_game_with_user.user %>
</p>

<p>
  <strong>Other user:</strong>
  <%= @user_futsal_game_with_user.other_user_id %>
</p>

<p>
  <strong>Futsal game:</strong>
  <%= @user_futsal_game_with_user.futsal_game %>
</p>

<p>
  <strong>User goal:</strong>
  <%= @user_futsal_game_with_user.user_goal %>
</p>

<p>
  <strong>User assist:</strong>
  <%= @user_futsal_game_with_user.user_assist %>
</p>

<p>
  <strong>Other user goal:</strong>
  <%= @user_futsal_game_with_user.other_user_goal %>
</p>

<p>
  <strong>Other user assist:</strong>
  <%= @user_futsal_game_with_user.other_user_assist %>
</p>

<p>
  <strong>Match with:</strong>
  <%= @user_futsal_game_with_user.match_with %>
</p>

<p>
  <strong>Victory with:</strong>
  <%= @user_futsal_game_with_user.victory_with %>
</p>

<p>
  <strong>Draw with:</strong>
  <%= @user_futsal_game_with_user.draw_with %>
</p>

<p>
  <strong>Lose with:</strong>
  <%= @user_futsal_game_with_user.lose_with %>
</p>

<p>
  <strong>Match against:</strong>
  <%= @user_futsal_game_with_user.match_against %>
</p>

<p>
  <strong>Victory against:</strong>
  <%= @user_futsal_game_with_user.victory_against %>
</p>

<p>
  <strong>Draw against:</strong>
  <%= @user_futsal_game_with_user.draw_against %>
</p>

<p>
  <strong>Lose against:</strong>
  <%= @user_futsal_game_with_user.lose_against %>
</p>

<%= link_to 'Edit', edit_user_futsal_game_with_user_path(@user_futsal_game_with_user) %> |
<%= link_to 'Back', user_futsal_game_with_users_path %>
